@import "bourbon";
@import "neat-helpers";
@import "neat";
@import "bitters/grid-settings";
@import "bitters/base";

//Colors
$background: #F2EEE8;
$fd-blue: #73C1BA;
$blue-dark: #405878;
$blue-mid: #5F8393;
$green-light: #D1DCD2;
$green-mid: #7A9095;
$orange-mid: #f2cd5e;
$orange-dark: #e8b007;
$pink-mid: #de6896;
$pink-dark: #cc3f75;

//Breakpoints
$tablet: 768px;
$mobile: 320px;

// Mixins
@mixin standard-shadow {
	box-shadow: 0 4px 0 #E1D8C8;
}

//External styles
@import "progress_bar";
@import "fonts";

// Some Bourbon stuff
@import "modal";
@import "dropdown";
@import "pagination";

//Internal styles
@import "global";
@import "graph";
@import "graph-stats";
@import "questioner";
@import "circle";
