@import "variables";
@import "mixins";

// modal with a wormhole!
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
.center-top-modal {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100px;
  z-index: 1000;
}

// Bourbon
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";
//@import "base/variables";

//Internal styles

a {
  // since most of our anchors don't have hrefs
  cursor: pointer;
}
@import "fonts";
@import "colorable";
@import "global";
@import "graph";
@import "graph-stats";
@import "questioner";
@import "onboarding";
@import "login";
@import "account";
@import "tracking_release";

// Components
@import "progress_bar";
@import "dropdown";
@import "pagination";
@import "switch";
@import "slide-menu";
@import "circle";
@import "tooltips";
@import "select2";
@import "tags"; // select2 as well
