$colors: #B2BE84, #709CB2, #ED9E81, #E7CC89, #B18DB4, #74A893, #DB7B9C, #F07670;
//$symptoms:
//$treatments: #113F63, #9EB9BA, #256DA0, #61B2D5, #28A178, #A9D0C3, #829C42, #B3CC83;
//$conditions: #ECC916, #F58A5A, #D15423, #D47C87, #C01E55, #DB9126, #B83B8A, #ED80B2, #F27071, #F7A8A8;

@each $color in $colors {
    $i: index($colors, $color);

    .colorable-bg-{ background-color: $primary; }
    .colorable-bg-#{$i} { background-color: $color; }

    .colorable-clr- { color: $primary; }
    .colorable-clr-#{$i} { color: $color !important; }

    .colorable-fill- { fill: $primary; }
    .colorable-fill-#{$i} { fill: $color; }

    .colorable-stroke- { stroke: $primary; }
    .colorable-stroke-#{$i} { stroke: $color; }

    .colorable-border- { border-color: $primary !important; }
    .colorable-border-#{$i} { border-color: $color !important; }

    // switch bg
    input.cmn-toggle-round.checked.tbg-#{$i} + label:before {
      background-color: $color;
    }
}