body {
  background: $background;
  font-family: $proxima-regular;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: $fd-primary;
  &:hover {
    text-decoration: none;
  }
}
h1, h2, h3, h4 {
  font-weight: normal;
}
label {
  font-weight: normal;
}
.container {
  @include outer-container;
}

.navbar {
  background: white;
  padding: 10px 25px;
  @include outer-container;
  @include standard-shadow;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 15px;
  .navbar-content {
    display: flex;
    align-items: center;
  }
  .navbar-logo {
    display: inline-block;
    margin-right: 15px;
  }
  .navbar-sections {
    @include span-columns(6);
    ul {
      display: inline-block;
      font-size: .9em;
    }
    li {
      display: inline-block;
      margin-right: 15px;
    }
  }
  .navbar-account {
    @include span-columns(6);
  }
  .dropdown {
    text-align: right;
    .dropdown-container {
      text-align: center;
    }
  }
}
