//Colors
$background: #F2EEE8;
$primary: #73C1BA;
$secondary: #F5A623;
$lightgrey: #ddd;
$shadow: #E1D8C8;

//Breakpoints
$tablet: 768px;
$mobile: 320px;
$container: 68em;

// Mixins
@mixin standard-shadow {
  box-shadow: 0 4px 0 $shadow;
}
@mixin wrap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Defaults
body {
  background: $background;
  font-family: $proxima-regular;
  margin: 0 10px;
  position: relative;
  @media (min-width: $container) {
    margin: 0;
  }
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: $primary;
  &:hover {
    text-decoration: none;
  }
}
h1, h2, h3, h4 {
  font-weight: normal;
}
label {
  font-weight: normal;
}
.container {
  @include outer-container;
}

// Navbar
.navbar {
  @include outer-container;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  .navbar-content {
    display: flex;
    align-items: center;
  }
  .navbar-left {
    @include span-columns(6);
    display: flex;
    align-items: center;
  }
  .sliding-menu-button {
    @media (min-width: $tablet) {
      display: none;
    }
  }
  .navbar-logo {
    display: inline-block;
    width: 40px;
  }
  .navbar-sections {
    display: none;
    a {
      color: #705F50;
      &:hover {
        color: darken(#705F50, 10%);
      }
    }
    li {
      margin-left: 10px;
    }
    @media (min-width: $tablet) {
      display: inline-block;
      li {
        display: inline-block;
      }
    }
  }
  .navbar-right {
    @include span-columns(6);
    display: none;
    @media (min-width: $tablet) {
      display: inline-block;
    }
  }
  .dropdown {
    margin-right: 15px;
    text-align: right;
    .dropdown-container {
      text-align: center;
    }
  }
}
