// Place all the styles related to the graph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.start-date, .end-date {
  @include span-columns(3);
  margin: 20px 0 0 0;
}
.end-date {
  @include shift(6);
}

.test-box {
  @include span-columns(4);
}

.stats {
  cursor: default;
  color: #bbbbbb;
}
.stat-box {
  @include span-columns(4);
  @include omega (3n);
  @include standard-shadow;
  margin-bottom: 3%;
  padding: 2%;
  background: white;
  border-radius: 3px;
  overflow: hidden;
  box-sizing: border-box;
  h1 {
    font-family: $proxima-regular;
    font-size: 2.5em;
    color: $fd-blue;
  }
  h4 {
    font-family: $proxima-regular;
    margin-top: 0;
  }
  &:hover {
    position: relative;
    top: 1px;
    color: #666666;
    box-shadow: 0 3px 0 darken($background, 15%);
  }
}