// Simple blink animation
@-webkit-keyframes processingBlink {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes processingBlink {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes processingBlink {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes processingBlink {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.graph-container {
  font-family: $proxima-semibold;
  color: $primary;
  margin: 30px auto 0 auto;
  width: 100%;
  height: 525px;
  svg {
    overflow: visible;
  }
  line.horizontalGrid {
    stroke: #cccccc;
    stroke-dasharray: 1, 3;
  }
  line.verticalGrid {
    stroke: #cccccc;
    stroke-dasharray: 1, 3;
  }
  rect.symptom, circle.treatment {
    &.missing {
      stroke-width: 2px;
      stroke: $background - 50;
      fill: transparent;
    }
    &.incomplete {
      stroke: $secondary;
    }
    &.processing {
      fill: #E1D8C8;
      -webkit-animation: processingBlink 2s infinite;
      -moz-animation: processingBlink 2s infinite;
      -o-animation: processingBlink 2s infinite;
       animation: processingBlink 2s infinite;

    }
    &.processing-3 {
      -webkit-animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
      -o-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
    &.processing-2 {
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      -o-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    &.processing-1 {
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -o-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }

  }

  .datestamp {
    alignment-baseline: "middle";
    text-anchor: "middle";
    font-family: $proxima-light;
    text-transform: uppercase;
    font-size: "1rem";
    fill: "black";
  }

  .purpleForegroundStop1 {
    stop-color: darken($background, 7%);
  }
  .purpleForegroundStop2 {
    stop-color: $background;
  }
  .score-text {
    fill: $primary;
  }
  .graph-line {
    fill: transparent;
    stroke: $primary;
    stroke-width: 4px;
    -webkit-filter: drop-shadow(-5px -5px 5px black);
    filter: drop-shadow(-5px -5px 5px black);
  }
  .graph-fill {
    fill: none;
  }
}

// .meds-graph-container
// font-family: $proxima-regular
// margin: 0 auto 50px auto
// width: 100%
// height: 100px
//
// .medication
//   stroke: $background
//   stroke-width: 6px
// .med-level-1
//   fill: $primary
// .med-level-2
//   fill: $orange-dark
// .med-level-3
//   fill: $pink-mid
// .med-line
//   stroke-width: 2px
//   stroke-dasharray: 1, 6
//   stroke: darken($background, 8%)
//   fill: none
//   stroke-linecap: round
