.onboarding {
	@include outer-container;
	@include card;
	max-width: 600px;
	margin-bottom: 2em;
	h2 {
	  text-align: center;
	  margin: 50px 0;
	}
	h4.birthday {
		margin-top: 50px;
	}
	.location-input {
		margin-bottom: 60px;
	}
  nav {
    margin-top: 50px;
  }
}
.account-dob-wrapper {
	.text-input {
		@include span-columns(4);
	}
}
h6.symptom, h6.treatment, h6.condition {
	font-size: 1.2em;
	&:before {
		content: "✔ ";
		color: $primary;
	}
}
