.onboarding {
	@include outer-container;
	@include single-col;
	margin-bottom: 2em;
	h2 {
	  text-align: center;
	  margin: 1em 0;
	}
	h4.birthday {
		margin-top: 50px;
	}
	.location-input {
		margin-bottom: 60px;
	}
  nav {
    margin-top: 50px;
  }
  .explainer {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
  }
  .tip {
  	margin: 1em auto 2em auto;
  }
  .explainer {
  	margin: .5em;
  	color: grey;
  	text-align: left;
  }
  .success_img {
  	margin: 2em auto;
  	display: block;
  }
}
.account-dob-wrapper {
	.text-input {
		@include span-columns(4);
	}
}

h6.symptom, h6.treatment, h6.condition {
	font-size: 1.2em;
	&:before {
		content: "✔ ";
		color: $primary;
	}
  .trackable-remove {
    @include span-columns(1);
    text-align: center;
    cursor: pointer;
  }

}
