////////////// Global Questioner Styles ///////////////

// modals
.questioner-modal {
	width: 700px;
}
.form-modal {
  z-index: 1000000;
}

.questioner {
  text-align: center;
  outline: none;
  width: 100%;
  .checkin-date-container {
    .yesterday, .tomorrow { display: inline-block; }
    .checkin-date {
      display: inline-block;
      padding: 20px 0 20px 0;
      color: grey;
    }
  }
  .checkin-content {
    h3 {
      max-width: 90%;
      margin: 20px auto 40px auto;
    }
  }
  .checkin-navigate {
    display: inline-block;
    width: 100%;
  }
  .checkin-back, .checkin-finish, .checkin-next {
    display: inline-block;
    text-align: center;
    padding: 30px 0;
    width: 50%;
  }
  .checkin-response {
    margin-top: 10px;
  }
  .checkin-search {
    width: 90%;
    max-width: 350px;
    margin: 40px auto 20px auto;
  }
  .pagination-dots {
    margin-top: 2em;
  }
}

////////////// Select Input Styles ///////////////
.checkin-response-select {
  li {
    display: inline-block;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    color: grey;
    font-size: 1.2em;
    margin: 1px;
    background: #eee;
    &:first-of-type {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
    &:last-of-type {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
    &:hover {
      background: $primary;
      color: white;
    }
    &.selected {
      background: $primary;
      color: white;
    }
  }
}

////////////// Select Input Styles ///////////////
.checkin-response-checkbox {
  width: 100%;
  text-align: left;
  .switch {
    margin: 0 0 20px 0;
    text-align: left;
    display: inline-block;
    width: 100%;
  }
  label {
    display: inline-block;
    vertical-align: middle;
    &:first-of-type {
      margin-right: 10px;
    }
  }
  @media (min-width: $tablet) {
    width: 70%;
    margin: 0 auto;
  }
}

.checkin-treatments {
  ul {
    @include row;
    width: 90%;
    margin: 20px auto 0 auto;
    font-size: 1.2em;
    max-width: 20em;
    .checkin-treatment-name-wrapper {
      display: flex;
      align-items: center;
    }
    .bg-default, .tbg- { background-color: $primary; }
    li {
      margin-bottom: 1em;
    }
    &.inactive-treatments {
      margin-top: 0;
    }
  }
  .checkin-treatment-name {
    @include span-columns(10);
    @include wrap-ellipsis;
    text-align: left;
    padding: 5px 15px;
    border-radius: 999px;

    &.active {
      color: white;
    }

    &.inactive {
      background: #eee;
      color: grey;
      &:hover {
        background: $lightgrey;
      }
    }

  }
  .checkin-treatment-remove {
    @include span-columns(1);
    text-align: center;
    cursor: pointer;
  }
  form {
    width: 100%;
  }
  .checkin-treatment-dose-inputs {
    text-align: left;
    margin-top: 5px;
    & > * {
      font-size: .8em;
    }
    .form-quantity {
      width: 25%;
      display: inline-block;
      margin: 0 0 0 5px;
      vertical-align: top;
      label {
        margin: 0;
      }
      input[type="number"] {
        margin-bottom: 0;
      }
    }
    .form-unit {
      width: 50%;
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 0;
      vertical-align: top;
      label {
        margin: 0;
      }
    }
    .form-quantity-input {
      padding: 4px;
    }
    .select2-choice {
      padding: 2.5px 3px;
      position: relative;
    }
  }
  .save-treatment {
    margin-top: 20px;
    display: inline-block;
  }
}

.checkin-symptoms, .checkin-conditions {
  .simple-checkin-response {
    display: block;
    margin: 0 auto 30px auto;
    width: 90%;
    max-width: 500px;
    li {
      display: inline-block;
      margin-right: 4px;
      border-radius: 5px;
      width: 50px;
      height: 40px;
      color: transparent;
      cursor: pointer;

      &:first-of-type {
        width: 40px;
        border-radius: 999px;
        background-image: url(face.svg);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: center;
      }

      &.bg-default, &.sbg- { background-color: $primary; }

      // the selected option
      &.selected {}
      &.not-selected {}
      &.not-selected:hover {}

      // Values that are, or are to be filled in given current selection/hover
      &.highlight {}
      &.no-highlight { background-color: $lightgrey; }

      // Special smiley input
      &.smiley { color: transparent !important; }
      &.smiley.hide-color { background-color: $lightgrey; }
    }
  }
  .checkin-symptom-remove, .checkin-condition-remove {
    color: grey;
    margin-left: 5px;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}
.trackable-input-tooltip, .remove-trackable-tooltip {
  .jBox-container {
    background: black;
    color: white;
  }
  .jBox-pointer:after {
    background: black;
  }
}


/////////////////// NOTE /////////////////////

// Don't display search field for notes suggestion search
.note-tag-search {
  .select2-choice {
    display: none;
  }
}

.tag-search {
  .select2-focusser,
  .select2-search,
  .select2-searching,
  .select2-search input {
      display: none !important;
  }
}
.checkin-note {
  .checkin-note-textarea {
    height: 200px;
    width: 100%;
    padding: 15px;
    box-shadow: none;
    border-top: 1px solid $lightgrey;
    border-bottom: 1px solid $lightgrey;
    margin-top: 20px;
    font-size: 1.2em;
    box-sizing: border-box;
    text-align: left;
    .placeholder {
      opacity: .5;
    }
    .hashtag {
      color: $primary;
    }
    &:focus {
      outline: none;
    }
  }
}