////////////// Global Questioner Styles ///////////////
#questioner {
  text-align: center;
  outline: none;
  width: 100%;
  .checkin-date {
    padding: 40px 0 20px 0;
  }
  .checkin-pagination {
    li {
      display: inline-block;
      cursor: pointer;
      &:hover {
        .checkin-dot {
          background: grey;
        }
      }
    }
  }
  .checkin-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background: $lightgrey;
    margin: 3px;
    &.selected {
      background: $primary;
    }
  }
  .checkin-content {
    margin: 20px 0 0 0;
  }
  .checkin-questions {
    box-sizing: border-box;
    padding: 0 30px;
    max-height: 300px;
    overflow: auto;
  }
  .checkin-navigate {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
  }
  .checkin-back, .checkin-next {
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    width: 50%;
  }
  .checkin-response {
    margin-top: 10px;
  }
}

////////////// Select Input Styles ///////////////
.checkin-response-select {
  li {
    display: inline-block;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    color: grey;
    font-size: 1.2em;
    margin: 1px;
    background: $lightgrey;
    &:first-of-type {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
    &:last-of-type {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
    &:hover, &.selected {
      background: $primary;
      color: white;
    }
    // @media (min-width: $tablet) {
    //   padding: 10px 25px;
    //   width: auto;
    //   &:first-of-type {
    //     border-radius: 0;
    //     border-top-left-radius: 7px;
    //     border-bottom-left-radius: 7px;
    //   }
    //   &:last-of-type {
    //     border-radius: 0;
    //     border-top-right-radius: 7px;
    //     border-bottom-right-radius: 7px;
    //   }
    // }
  }
}

////////////// Select Input Styles ///////////////
.checkin-response-checkbox {
  width: 100%;
  text-align: left;
  .switch {
    margin: 20px 0 0 0;
    text-align: left;
    display: inline-block;
    width: 100%;
  }
  label {
    display: inline-block;
    vertical-align: middle;
    &:first-of-type {
      margin-right: 10px;
    }
  }
  @media (min-width: $tablet) {
    width: 70%;
    margin: 0 auto;
  }
}


/////////////////// NOTE /////////////////////
.checkin-note {
  .checkin-note-textarea {
    height: 200px;
    width: 100%;
    padding: 15px;
    box-shadow: none;
    border-top: 1px solid $lightgrey;
    border-bottom: 1px solid $lightgrey;
    margin-top: 20px;
    font-size: 1.2em;
    box-sizing: border-box;
    text-align: left;
    .placeholder {
      opacity: .5;
    }
    .hashtag {
      color: $primary;
    }
  }
}