.select2-result-label {
  .name {
    color: #333;
    font-size: 1.2em;
  }
  .count {
    color: #999;
    font-style: italic;
    font-size: 0.7em;
  }
}
.select2-container {
  width: 90%;
  max-width: 300px;
  .select2-choice {
    background: white;
    &.select2-default {
      background: white;
      text-align: left;
      height: auto;
      padding: 5px 10px;
      font-size: 1.2em;
      border-color: lightgrey !important;
    }
    .select2-arrow {
      display: none;
    }
  }
  * {
    background: white;
  }
}
.select2-search {
  padding: 20px;
  input {
    background-image: none !important;
  }
}
.select2-drop {
  background-image: none;
  &.select2-drop-active {
    border-color: lightgrey;
    &.select2-drop-above {
      border-color: lightgrey;
      margin-top: -5px;
    }
    &.select2-drop-below {
      margin-bottom: -5px;
    }
  }
}
.select2-results {
  border-radius: 0;
  .select2-highlighted {
    background-color: #73C1BA;
    .select2-result-label {
      .name {color: #fff}
      .count {color: #fff}
    }
  }
}