.select2-highlighted {
  background-color: #3875d7;
  color: #fff;
}
.select2-result-label {
  .name {
    color: #333;
    font-size: 1.2em;
  }
  .count {
    color: #999;
    font-style: italic;
    font-size: 0.7em;
  }
}