body {
	padding-bottom: 1em;
}
#tracking-questioner {
	@include card;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 0;
	margin-bottom: 4px;
	.checkin-date-container {
		display: inline-block;
		width: auto;
		&:hover {
			.yesterday, .tomorrow {
				opacity: 1;
			}
		}
		.checkin-date {
			color: $primary;
		}
		.yesterday, .tomorrow {
			font-size: 2em;
			position: relative;
			top: 3px;
			opacity: 0;
			transition: all .5s;
			&:hover {
				transform: scale(1.2);
				a {
					color: $primary;
				}
			}
			a {
				padding: 5px 20px;
				color: $primary;
			}
		}
	}	
}
.tracking-navigation {
	li {
		display: inline-block;
		padding: 0 3px;
	}
	a.dropdown-button {
		line-height: .5em;
		padding: 0;
	}
	ul.dropdown-menu.dropdown-select.show-menu {
		top: 30px;
		width: auto;
	}
	ul.dropdown-menu li {
		width: 100%;
	}
}
#upcoming {
	@include outer-container;
	@include card;
	max-width: 600px;
	h1 {
		text-align: center;
		margin: 1em 0;
	}
	p {
		margin-bottom: 4em;
	}
	img {
		margin-bottom: 1em;
	}
}