#upcoming {
  @include outer-container;
  @include card;
  max-width: 600px;
  h1 {
  	text-align: center;
  	margin: 1em 0;
  }
  p {
  	margin-bottom: 4em;
  }
  img {
  	margin-bottom: 1em;
  }
} 
