fieldset {
  background-color: lighten($base-border-color, 10%);
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: normal;
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

.pagination-dots {
  li {
    display: inline-block;
    cursor: pointer;
    &:hover {
      .page-dot {
        transform: scale(1.5);
      }
    }
  }
}
.page-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: $lightgrey;
  margin: 3px 5px;
  &.selected, &.active {
    transform: scale(1.5);
  }
  // &.complete {
  //   background: $primary;
  // }
  // &.skipped {
  //   background: $secondary;
  // }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 3;
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: darken($base-border-color, 10%);
  }
  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

.text-input, .password-input, .radio-input, .checkbox-input, .select-input, .switch-input, .number-input {
  margin: 0 0 30px 0;
}

.text-input, .password-input, .number-input {
  &.invalid.present input {
    border-color: red;
    outline: none;
  }
  input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    font-size: 1.2em;
    &:focus {
      border-color: $primary;
    }
    // Material style??
    // background: none;
    // border: none;
    // border-bottom: 2px solid lightgrey;
    // box-shadow: none;
    // border-radius: 0;
    // padding: 0 0 8px 0;
    // font-size: 2em;
    // margin: 0;
    // &:focus {
    //   border-bottom-color: $primary;
    //   box-shadow: none;
    // }
  }
}

.radio-input {
  .radio-option {
    h4 {
      margin: 3px 0 0 0;
      display: inline-block;
    }
    h4::before {
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 999px;
      border: 2px solid $primary;
      background: none;
      display: inline-block;
      margin-right: 3px;
    }
  }
  .radio-option.checked {
    h4::before {
      background: $primary;
    }
  }
  &:hover {
    .h4::before {
      background: red;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

.error-message {
  color: red;
}